RHEL Health Check Report

This is a health check report conducted on a {{ ansible_distribution }} {{ansible_distribution_version }} instance, at {{ ansible_date_time.time }} on {{ ansible_date_time.date }}.

Analysis

Hardware

Hardware Certification Matrix
Investigation: Is the server hardware certified by Red Hat?
Observation:
  System manufacturer: {{ result_system_manufacturer.stdout_lines }}
  System product name: {{ result_system_product_name.stdout_lines }}
  System version: {{ result_system_version.stdout_lines }}
Guidance: Red Hat recommends running Red Hat Enterprise Linux on hardware that is certified according to Red Hat's hardware certification matrix.
Rationale: Hardware listed as being certified on Red Hat Enterprise Linux has undergone extensive testing. While Red Hat Enterprise Linux may run on hardware that is not certified, it voids the client's support agreement for that host.
Recommendation: #TODO#

Network Cards
Investigation: Are errors present on any network devices?
Observation:
  {{ result_network_cards.stdout_lines | to_nice_yaml }}
Guidance: Excessive errors on network cards can indicate a possible hardware or configuration problem with the network card in question and should be investigated.
Rationale: Intermittent or complete failure of a network card can impact the availability of service on a host.

Disk Drives
Investigation: Are read or write errors present in the system log files?
Observation:
  {{ result_error_logs.stdout | to_nice_yaml }}
Guidance: Read or write errors in the system log files can indicate a failed or failing hard disk and should be investigated.
Rationale: Intermitten or complete failure of a disk drive can lead to loss of service or data. Proper backups of system critical data should be verified and tested that they successfully restore to guarantee that the backups are valid.

Investigation: Is there any physical indication of a failed disk drive? This could be determined by installing and enabling SMART hard disk monitoring tool.
Observation: #TODO#
Guidance: Failed disk drive should be replaced as soon as possible. SMART reporting can also preempt hard disk failures and hence the same should be regularly monitored.
Rationale: An undetected failed disk drive can result in reduced redundancy when part of a RAID configuration.

Memory
Investigation: Is there an indication of any memory DIMMs being in a degraded state? This could be determined by some hardware probing tool provided by the vendor/OEM.
Observation: #TODO#
Guidance: In the event that the host is not under hardware monitoring, it is recommended that the requisite software be downloaded and installed to ensure that the hardware health status is being monitored. For example, if the host is an IBM or HP server, the following links would provide the corresponding hardware monitoring tools for download.
IBM Systems Director Plug-ins
http://www-03.ibm.com/systems/management/director/downloads/plugins.html
HP System Insight Manager
http://h18013.www1.hp.com/products/servers/management/hpsim/dl_linux4x.html?jumpid=reg_R1002_USEN
Rationale: A memory DIMM in a degraded state might not allow optimal OS performance and might ultimately fail, resulting in a kernel panic.

Firmware
Investigation: Is the latest firmware installed on the host?
Observation: #TODO#
Guidance: Whenever possible, try and apply the latest firmware for all hardware components. Depending on the hardware, this can include any or all of the following; BIOS, Fibre cards, SCSI controllers.
Rationale: The latest firmware for devices contains feature enhancements and bug fixes.

Software

RHEL Version
Investigation: What version of Red Hat Enterprise Linux is installed?
Observation: {{ result_osrelease.stdout_lines[6] | to_nice_yaml }}
Guidance: Red Hat recommends that a host be patched to the latest update of Red Hat Enterprise Linux as part of a regular patch management cycle.
Rationale: Applying the latest updates ensures that a host is updated for previous bug fixes and security vulnerabilities.

Last update
Investigation: When was the last update applied?
Observation: {{ result_last_update.stdout | to_nice_yaml }}
Guidance: Red Hat recommends that hosts be patched to the latest update of Red Hat Enterprise Linux as part of a regular patch management cycle.
Rationale: Applying the latest updates ensures that a host is updated for previous bug fixes and security vulnerabilities.

Storage Configuration

Logical Volume Manager (LVM)
Investigation: Are mounted file systems using LVM?
Observation: {{ result_lvdisplay.stdout | to_nice_yaml }}
Guidance: #TODO#
Rationale: #TODO#

File System Layout
Investigation: Is the filesystem layout setup correctly?
Observation: {{ result_lsblk.stdout | to_nice_yaml }}
Guidance: #TODO#
Rationale: #TODO#

User Access

Password Policy
Investigation: What are the password policies on the systems?
Observation: {{ result_password_policy.stdout_lines | to_nice_yaml }}
Guidance #TODO#
Rationale: Password Policies are company defined standards, the system should adhere to this.

Security

SELinux
Investigation: Is SELinux enabled and enforced?
Observation: {{ result_SELinux.stdout | to_nice_yaml }}
Guidance: #TODO#
Rationale: SELinux provides a greater level of protection to a host than just one relying on simple Discretionary Access Control (DAC). It uses Mandatory Access Control (MAC). Permissive just logs the actions but allows them to happen. Enforcing is the recommended solution as it completely blocks the actions and logs them.