RHEL6 Health Check Report

This is a health check report conducted on a {{ ansible_distribution }} {{ansible_distribution_version }} instance, at {{ ansible_date_time.time }} on {{ ansible_date_time.date }}.

Analysis

Hardware

Hardware Certification Matrix
Investigation: Is the server hardware certified by Red Hat?
Observation:
  System manufacturer: {{ result_system_manufacturer.stdout_lines }}
  System product name: {{ result_system_product_name.stdout_lines }}
  System version: {{ result_system_version.stdout_lines }}
Guidance: Red Hat recommends running Red Hat Enterprise Linux on hardware that is certified according to Red Hat's hardware certification matrix.
Rationale: Hardware listed as being certified on Red Hat Enterprise Linux has undergone extensive testing. While Red Hat Enterprise Linux may run on hardware that is not certified, it voids the client's support agreement for that host.
Recommendation: #TODO#

Network Cards
Investigation: Are errors present on any network devices?
Observation:
  {{ result_network_cards.stdout_lines | to_nice_yaml }}
Guidance: Excessive errors on network cards can indicate a possible hardware or configuration problem with the network card in question and should be investigated.
Rationale: Intermittent or complete failure of a network card can impact the availability of service on a host.

Disk Drives
Investigation: Are read or write errors present in the system log files?
Observation:
  {{ result_error_logs.stdout | to_nice_yaml }}
Guidance: Read or write errors in the system log files can indicate a failed or failing hard disk and should be investigated.
Rationale: Intermitten or complete failure of a disk drive can lead to loss of service or data. Proper backups of system critical data should be verified and tested that they successfully restore to guarantee that the backups are valid.

Investigation: Is there any physical indication of a failed disk drive? This could be determined by installing and enabling SMART hard disk monitoring tool.
Observation: #TODO#
Guidance: Failed disk drive should be replaced as soon as possible. SMART reporting can also preempt hard disk failures and hence the same should be regularly monitored.
Rationale: An undetected failed disk drive can result in reduced redundancy when part of a RAID configuration.

Memory
Investigation: Is there an indication of any memory DIMMs being in a degraded state? This could be determined by some hardware probing tool provided by the vendor/OEM.
Observation: #TODO#
Guidance: In the event that the host is not under hardware monitoring, it is recommended that the requisite software be downloaded and installed to ensure that the hardware health status is being monitored. For example, if the host is an IBM or HP server, the following links would provide the corresponding hardware monitoring tools for download.
IBM Systems Director Plug-ins
http://www-03.ibm.com/systems/management/director/downloads/plugins.html
HP System Insight Manager
http://h18013.www1.hp.com/products/servers/management/hpsim/dl_linux4x.html?jumpid=reg_R1002_USEN
Rationale: A memory DIMM in a degraded state might not allow optimal OS performance and might ultimately fail, resulting in a kernel panic.

Firmware
Investigation: Is the latest firmware installed on the host?
Observation: #TODO#
Guidance: Whenever possible, try and apply the latest firmware for all hardware components. Depending on the hardware, this can include any or all of the following; BIOS, Fibre cards, SCSI controllers.
Rationale: The latest firmware for devices contains feature enhancements and bug fixes.

Software

RHEL Version
Investigation: What version of Red Hat Enterprise Linux is installed?
Observation: {{ result_osrelease.stdout_lines[6] | to_nice_yaml }}
Guidance: Red Hat recommends that a host be patched to the latest update of Red Hat Enterprise Linux as part of a regular patch management cycle.
Rationale: Applying the latest updates ensures that a host is updated for previous bug fixes and security vulnerabilities.

Last update
Investigation: When was the last update applied?
Observation: {{ result_last_update.stdout | to_nice_yaml }}
Guidance: Red Hat recommends that hosts be patched to the latest update of Red Hat Enterprise Linux as part of a regular patch management cycle.
Rationale: Applying the latest updates ensures that a host is updated for previous bug fixes and security vulnerabilities.

Installed RPMs
Investigation: How many packages are installed on the system and are there any unnecessary RPMs installed? How many have been altered?
Observation: There are {{ result_rpm_count.stdout }} packages installed on this system.
The following RPMs have been altered since installation.
{{ result_rpm_altered.stdout_lines | to_nice_yaml }}
Guidance: #TODO#
Rationale: Each piece of software on the server could possibly contain a vulnerability. A package can always be added later if it is needed.

Storage Configuration

Logical Volume Manager (LVM)
Investigation: Are mounted file systems using LVM?
Observation: {{ result_lvdisplay.stdout | to_nice_yaml }}
Guidance: #TODO#
Rationale: #TODO#

File System Layout
Investigation: Is the filesystem layout setup correctly?
Observation: {{ result_lsblk.stdout | to_nice_yaml }}
Guidance: #TODO#
Rationale: #TODO#

Network Configuration

Speed and Duplex
Investigation: Are network adapters performing in the best way possible?
Observation: {{ test_var }}
Guidance: Network interfaces should be conigured to auto-negotiate to guarantee that they are running at the maximum speed and duplex setting advertised by the switch. Interfaces running at a suboptimal speed/duplex setting that are mismatched with the switch can result in seriod performance issues.
Rationale: Interfaces running at a suboptimal speed/duplex setting or that are mismatched with the switch can result in serious performance issues.

Teaming
Investigation: Is there a teaming or bonding setup, and is this correctly defined?
Observation:
{{ result_bonding_mode.stdout | to_nice_yaml }}
{{ result_device_status.stdout | to_nice_yaml }}
Guidance: Physical interfaces should be bonded together to form a logical network interface whenever possible. Bonded/teamed network interfaces provide redundancy in the event that a network interface fails. It is also recommended that a bonded interface should use slaves that correspond to distinct physical network cards. Bonding is also done for network bottle necks on systems by using multiple network cards bonded to gather throughput.
Rationale: Bonded/teamed network interfaces provide redundancy in the event that a network interface fails. It is also recommended that a bonded interface should use slaves that correspond to distinct physical network cards.

User Access

Password Policy
Investigation: What are the password policies on the systems?
Observation: 
{{ result_password_policy.stdout_lines | to_nice_yaml }}
Guidance #TODO#
Rationale: Password Policies are company defined standards, the system should adhere to this.

Kernel

Grub
Investigation: Is the current running kernel set to the default in /etc/grub.conf? Is the correct kernel set to default in /etc/grub.conf? If a different kernel was set, was this done intentionally due to any software incompatibility issues?
Observation: 
- The current running kernel version on this machine is {{ result_running_kernel.stdout_lines }} 
- The default kernel version for this machine is {{ result_default_kernel.stdout_lines }}
Guidance: Serveral kernel versions should be kept to make sure the system stays bootable in the event that a software update breaks the boot process.
Rationale: An incorrect kernel set to default in /etc/grub.conf will not load the necessary kernel modules on next reboot.

Kernel issues
Investigation: Is the running kernel tainted by a third party driver?
Observation: /proc/sys/kernel/tainted has returned a value of {{result_tainted_kernel_proc.stdout | to_nice_yaml }}
Guidance: The use of third party drivers that taint the kernel should be avoided if possible. There are often times when third party drivers are required for performance of graphic, and third-party applications. For example, clearcase, EMC PowerPath, and high performance graphic drivers.
In these cases, the third party provider should be contacted to assess any risk involved with an upgrade, and if this will affect the supportability of the product.
Rationale: In order to upgrade a tainted kernel of a host, it is first necessary to update the kernel then boot into the new kernel before updating or reinstalling the driver that taints the kernel. This usually requires a second boot sequence.

I/O Scheduler
Investigation: Is the I/O scheduler used the correct one for the workload?
Observation: {{ result_tuned_adm_profile.stdout | to_nice_yaml }}. 
Rationale: The disk scheduler should be chosen for the type of workload running on the machine, getting the best performance out of disks access.

Security

SELinux
Investigation: Is SELinux enabled and enforced?
Observation: {{ result_SELinux.stdout | to_nice_yaml }}
Guidance: #TODO#
Rationale: SELinux provides a greater level of protection to a host than just one relying on simple Discretionary Access Control (DAC). It uses Mandatory Access Control (MAC). Permissive just logs the actions but allows them to happen. Enforcing is the recommended solution as it completely blocks the actions and logs them.

Firewalling
Investigation: Is there a local firewall active on the hosts?
Observation: 
{% if result_firewall.failed == false %}
Firewall is enabled: {{ result_firewall_success.stdout | to_nice_yaml }}
{% else %}
{{ result_firewall_failed.stdout | to_nice_yaml }}
{% endif %}
Guidance: firewallD should be running and be configured to restrict the incoming network traffic to the expected licit flows.
Rationale: Dropping any traffic that is not expected/documented for the workload of the machine is helping provide a high level of security.

Running Services
Investigation: Is there any service failing to start?
Observation: 
{{ result_running_services.stdout | to_nice_yaml }}
Rationale: A service unable to start should be fixed. If it's not needed, it should be removed.

Failed Services
Investigation: Does any service write errors in the log files?
Observation:
{{ result_failed_services.stdout | to_nice_yaml }}
Rationale: Errors reported in log files by services should be investigated. If not due to downtime or maintenance of another service, issue should be fixed.